{% extends 'workshop_app/base.html' %}
{% load static %}


{% block title %} Workshop Statistics {% endblock %}

{% block extra-dependencies %}
    <!-- Include React Build CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<!-- Provide global data for React components -->
<script>
    window.DJANGO_USER = "{{ request.user.get_full_name|default:request.user.username }}";
</script>

<!-- The root element where the React App binds -->
<div id="root"></div>

<!-- Include the compiled React Bundle -->
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
